{% load static %}
<!-- jquery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!-- swipper js -->
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<!-- lightcase js-->
<script src="{% static 'assets/js/lightcase.js' %}"></script>
<!-- tweenmax js-->
<script src="{% static 'assets/js/tweenmax.min.js' %}"></script>
<!-- wow js file -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- main -->
<script src="{% static 'assets/js/main.js' %}"></script>
<!--script src="{% static 'assets/js/lotteie.js' %}"></script-->
